body {
  padding: 20px;
  font-family: 'Press Start 2P', cursive;
}

main {
  display: grid;
  grid-template-columns: 7fr 3fr;
}

nav a,
header,
article,
section,
textarea,
input[type="text"],
input[type="submit"] {
  padding: 10px;
  border-radius: 4px;
  display: block;
  margin-bottom: 10px;
}

nav {
  display: flex;
  justify-content: center;
}

main {
  display: grid;
  grid-gap: 10px;
  max-width: 1600px;
  margin: auto;
}

dialog {
  width: 600px;
}

.sidebar {
  display: grid;
  height: 100%;
}

.chatList {
  height: 500px;
  overflow-x: scroll;
}

.first-screen {
  display: grid;
  grid-gap: 20px;
  align-items: center;
  margin: auto;
  width: 800px;
  margin-top: 260px;
  flex-direction: column;
}

.twoCol {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 3fr auto;
}

.twoCol > * {
  height: 100%;
}

.canvas {
  height: 680px;
}

/* override defaults */
.bi.bi-diagram {
  background-color: #fff !important;
  padding: 1.5rem 2rem !important;
  border-color: black !important;
  border-style: solid !important;
  border-width: 4px !important;
  background: url('./background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px !important;
  padding: 0 !important;
}

.mid-center {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.mid-center > * {
  margin: 0;
}

.loading {
  height: 90vh;
  width: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
}

.loading h3 {
  margin-top:40px;
}

.chat-user .message {
  margin: -10px 70px;
}

.nes-ash {
  display: block;
}

.chat-user:first-child {
  z-index: 1000;
}

.chat-user .user-info {
  display: block;
  max-width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50px;
}

.nes-balloon {
  pointer-events: none !important;
  position: absolute !important;
  top: -90px !important;
  left: -25px !important;
}

.message {
  position: relative !important;
}
